0.FPGA/0.doc/Gowin/IP/Filter-FD-Adaptive/Gowin_FD_Adaptive_Filter_RefDesign.zip
0.FPGA/0.doc/Gowin/IP/Integer-Multiply-Divider/Gowin_Integer_Multiply_Divider_RefDesign.rar

*~
*.bak
*.bkp
*.log

*xOLD*

*output*
/4.sim/obj/*
*.fst

#*impl*
*gwsynthesis*
*pnr*
*temp*
*.gprj.user

*\#*\#
*\#*
0.doc/Gowin/IP/Integer-Multiply-Divider/Gowin_Integer_Multiply_Divider_RefDesign.rar
0.doc/Gowin/IP/Filter-FD-Adaptive/Gowin_FD_Adaptive_Filter_RefDesign.zip
tb.xml
tb.stems

# Vivado project directories and files
*.jou
*.log
.Xil
*.cache
*.data
*.ipdefs
*.ip_user_files
*.runs
*.gen
0.doc/Alinx/AX7201_examples/08_HDMI/image--music-files/PICTURE/VGA/Thumbs.db
*.obj
*.dll
*.lib
*.exe
*.str
3.build/csr_build/generated-files/html/.launcher_data/*

# PipelineC outputs
3.build/pipelinec_build/generated-files-sim-comb/*
3.build/pipelinec_build/generated-files-sim-pipe/*
3.build/pipelinec_build/generated-files-verilog/*
3.build/pipelinec_build/*.py

3.build/pipelinec_build/generated-files-sim-comb-dec/*
3.build/pipelinec_build/generated-files-sim-pipe-dec/*
