0.FPGA/0.doc/Gowin/IP/Filter-FD-Adaptive/Gowin_FD_Adaptive_Filter_RefDesign.zip
0.FPGA/0.doc/Gowin/IP/Integer-Multiply-Divider/Gowin_Integer_Multiply_Divider_RefDesign.rar

*~
*.bak
*.bkp
*.log

*xOLD*

*output*

#*impl*
*gwsynthesis*
*pnr*
*temp*
*.gprj.user

*\#*\#
*\#*
0.doc/Gowin/IP/Integer-Multiply-Divider/Gowin_Integer_Multiply_Divider_RefDesign.rar
0.doc/Gowin/IP/Filter-FD-Adaptive/Gowin_FD_Adaptive_Filter_RefDesign.zip
/4.sim/tb.xml
/4.sim/tb.stems

# Vivado project directories and files
*.jou
*.log
.Xil
*.cache
*.data
*.ipdefs
*.hw
*.ip_user_files
*.runs
*.gen
