(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("wave.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "tb",
                "outp",
            ],
        ))),
        displayed_items_order: [
            (1),
            (2),
            (3),
            (4),
            (5),
            (6),
            (7),
            (8),
            (9),
            (10),
            (11),
            (12),
            (13),
            (14),
            (15),
            (16),
            (17),
            (18),
            (19),
            (20),
            (21),
            (22),
            (23),
            (24),
            (25),
            (26),
            (27),
            (28),
            (29),
            (30),
            (31),
            (32),
        ],
        displayed_items: {
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tdata",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "DUT",
                        ],
                    ),
                    name: "gmii_rxd",
                ),
                color: None,
                background_color: None,
                display_name: "gmii_rxd [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tuser_dst",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tuser_dst [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tuser_src",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tuser_src [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "DUT",
                        ],
                    ),
                    name: "gmii_rx_dv",
                ),
                color: None,
                background_color: None,
                display_name: "gmii_rx_dv",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tkeep",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tkeep [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tkeep",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tkeep [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "rst",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tready",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tuser_bypass_stage",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tuser_bypass_stage",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tid",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tid [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tvalid",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tid",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tid [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tuser_bypass_all",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tuser_bypass_all",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "DUT",
                        ],
                    ),
                    name: "gmii_tx_clk",
                ),
                color: None,
                background_color: None,
                display_name: "gmii_tx_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "DUT",
                        ],
                    ),
                    name: "gmii_tx_er",
                ),
                color: None,
                background_color: None,
                display_name: "gmii_tx_er",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "DUT",
                        ],
                    ),
                    name: "gmii_rx_er",
                ),
                color: None,
                background_color: None,
                display_name: "gmii_rx_er",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "DUT",
                        ],
                    ),
                    name: "gmii_txd",
                ),
                color: None,
                background_color: None,
                display_name: "gmii_txd [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tuser_bypass_stage",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tuser_bypass_stage",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tlast",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tlast",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tuser_dst",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tuser_dst [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "tuser_src",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.tuser_src [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "DUT",
                        ],
                    ),
                    name: "gmii_tx_en",
                ),
                color: None,
                background_color: None,
                display_name: "gmii_tx_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tready",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tvalid",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tuser_bypass_all",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tuser_bypass_all",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp",
                        ],
                    ),
                    name: "rst",
                ),
                color: None,
                background_color: None,
                display_name: "…inp.rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "DUT",
                        ],
                    ),
                    name: "gmii_rx_clk",
                ),
                color: None,
                background_color: None,
                display_name: "gmii_rx_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tdata",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 32,
        viewports: [
            (
                curr_left: (0.00026040535230472555),
                curr_right: (0.5002604053523036),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((19)),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)