(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("wave.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "tb",
                "inp0",
            ],
        ))),
        displayed_items_order: [
            (1),
            (2),
            (3),
            (4),
            (5),
            (6),
            (7),
            (8),
            (9),
            (10),
            (11),
            (12),
            (13),
            (14),
            (15),
            (16),
            (17),
            (19),
            (20),
            (21),
            (22),
            (23),
            (24),
            (25),
            (26),
            (27),
            (28),
            (29),
            (30),
            (31),
            (32),
            (33),
            (34),
            (35),
            (36),
            (18),
        ],
        displayed_items: {
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp4",
                        ],
                    ),
                    name: "tdata",
                ),
                color: None,
                background_color: None,
                display_name: "…inp4.tdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp2",
                        ],
                    ),
                    name: "tuser",
                ),
                color: None,
                background_color: None,
                display_name: "…inp2.tuser [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tlast",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp2",
                        ],
                    ),
                    name: "tkeep",
                ),
                color: None,
                background_color: None,
                display_name: "…inp2.tkeep [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp3",
                        ],
                    ),
                    name: "tlast",
                ),
                color: None,
                background_color: None,
                display_name: "…inp3.tlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp4",
                        ],
                    ),
                    name: "tkeep",
                ),
                color: None,
                background_color: None,
                display_name: "…inp4.tkeep [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp1",
                        ],
                    ),
                    name: "tvalid",
                ),
                color: None,
                background_color: None,
                display_name: "…inp1.tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp0",
                        ],
                    ),
                    name: "tdata",
                ),
                color: None,
                background_color: None,
                display_name: "…inp0.tdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp4",
                        ],
                    ),
                    name: "tready",
                ),
                color: None,
                background_color: None,
                display_name: "…inp4.tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp4",
                        ],
                    ),
                    name: "tlast",
                ),
                color: None,
                background_color: None,
                display_name: "…inp4.tlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp3",
                        ],
                    ),
                    name: "tvalid",
                ),
                color: None,
                background_color: None,
                display_name: "…inp3.tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp4",
                        ],
                    ),
                    name: "tuser",
                ),
                color: None,
                background_color: None,
                display_name: "…inp4.tuser [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp3",
                        ],
                    ),
                    name: "tkeep",
                ),
                color: None,
                background_color: None,
                display_name: "…inp3.tkeep [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp3",
                        ],
                    ),
                    name: "tready",
                ),
                color: None,
                background_color: None,
                display_name: "…inp3.tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp1",
                        ],
                    ),
                    name: "tkeep",
                ),
                color: None,
                background_color: None,
                display_name: "…inp1.tkeep [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp1",
                        ],
                    ),
                    name: "tdata",
                ),
                color: None,
                background_color: None,
                display_name: "…inp1.tdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp4",
                        ],
                    ),
                    name: "tvalid",
                ),
                color: None,
                background_color: None,
                display_name: "…inp4.tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tvalid",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tuser",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tuser [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp1",
                        ],
                    ),
                    name: "tready",
                ),
                color: None,
                background_color: None,
                display_name: "…inp1.tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp2",
                        ],
                    ),
                    name: "tdata",
                ),
                color: None,
                background_color: None,
                display_name: "…inp2.tdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp0",
                        ],
                    ),
                    name: "tkeep",
                ),
                color: None,
                background_color: None,
                display_name: "…inp0.tkeep [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp2",
                        ],
                    ),
                    name: "tvalid",
                ),
                color: None,
                background_color: None,
                display_name: "…inp2.tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp3",
                        ],
                    ),
                    name: "tuser",
                ),
                color: None,
                background_color: None,
                display_name: "…inp3.tuser [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp0",
                        ],
                    ),
                    name: "tlast",
                ),
                color: None,
                background_color: None,
                display_name: "…inp0.tlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp1",
                        ],
                    ),
                    name: "tlast",
                ),
                color: None,
                background_color: None,
                display_name: "…inp1.tlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tready",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp0",
                        ],
                    ),
                    name: "tuser",
                ),
                color: None,
                background_color: None,
                display_name: "…inp0.tuser [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp0",
                        ],
                    ),
                    name: "tvalid",
                ),
                color: None,
                background_color: None,
                display_name: "…inp0.tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp3",
                        ],
                    ),
                    name: "tdata",
                ),
                color: None,
                background_color: None,
                display_name: "…inp3.tdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp1",
                        ],
                    ),
                    name: "tuser",
                ),
                color: None,
                background_color: None,
                display_name: "…inp1.tuser [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp2",
                        ],
                    ),
                    name: "tready",
                ),
                color: None,
                background_color: None,
                display_name: "…inp2.tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp0",
                        ],
                    ),
                    name: "tready",
                ),
                color: None,
                background_color: None,
                display_name: "…inp0.tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "inp2",
                        ],
                    ),
                    name: "tlast",
                ),
                color: None,
                background_color: None,
                display_name: "…inp2.tlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tdata",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb",
                            "outp",
                        ],
                    ),
                    name: "tkeep",
                ),
                color: None,
                background_color: None,
                display_name: "…outp.tkeep [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 36,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: Some((0)),
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: true,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)