#basic test
#vusermain0 -V PICORV32 -x 0x10000000 -X 0x20000000 -rEHRca -t ./models/rv32/riscvtest/main.bin

#csr_gpio_test
#vusermain0 -r -H -R -c -x 0x20000000 -X 0x2000FFFF -t ../2.sw/app/csr_gpio_test/main.elf

#csr_uart_test
vusermain0 -r -H -R -c -x 0x20000000 -X 0x2000FFFF -t ../2.sw/app/csr_uart_test/main.elf

